name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        run: uv run pytest -q

      - name: Build the packages
        run: uv build

      - name: Get version from pyproject.toml
        id: get_version
        run: echo "VERSION=$(grep -oP '(?<=version = ")[^"]+' pyproject.toml)" >> $GITHUB_ENV

      - name: Upload the built packages
        uses: actions/upload-artifact@v6
        if: matrix.python-version == '3.14'
        with:
          name: unifont-utils-${{ env.VERSION }}
          path: dist/unifont_utils-${{ env.VERSION }}-py3-none-any.whl
